.logo
    text-align center

    &__image
        border 7px solid #fff
        border-radius 50%
        transition transform .7s ease
        &:hover
            transform rotate(360deg)
    
    &__fullname
        margin-top 15px
        font-size 1.188em
        color #fff
        text-transform uppercase