.profile
    margin-top 95px
    text-align center

    &__title
        font-size 2.7em
        font-weight normal
    
    &__text
        margin-top 75px
        font-size 1.5em
    
    &__button
        margin-top 105px
