.skills
    margin-top 80px
    font-size 1.5em
    text-align center

    &__row
        position relative
        min-height 441px
        justify-content(center)

    &__slider
        col()
        col-6()
        col-md-8()
        col-xs-10()
        position absolute
        max-width 100%
        margin-top 45px

    &__bottom-text
        margin-top 70px
    
    @media screen and (max-width $break_sm)
        &__slider
            position relative